.detailPage {
    width: 100%;
    min-height: 100%;
    background-color: #F0F3F8;
    padding-top: 63px;

    .contentBox {
        width: 100%;
        justify-content: center;
        margin-top: 67px;

        .curAxisImg {
            width: 435px;
            height: 435px;
            border-radius: 13px;
            box-shadow: 0 0 35px rgba(0, 0, 0, 0.05);

        }

        .midInfoBox {
            width: 378px;
            margin-left: 67px;
            margin-right: 67px;

            .axisName {
                font-size: 38px;
                font-family: HYCuYuan, HYCuYuan;
                font-weight: normal;
                color: #131C28;
            }

            .groupNumber {
                font-size: 15px;
                font-family: HYCuYuan, HYCuYuan;
                font-weight: normal;
                color: #131C28;
                margin-top: 20px;
            }

            .priceTag {
                font-size: 13px;
                font-family: HYCuYuan, HYCuYuan;
                font-weight: bold;
                color: #80868E;
                margin-top: 20px;
            }

            .priceNum {
                font-size: 42px;
                font-family: HYCuYuan, HYCuYuan;
                font-weight: normal;
                color: #131C28;
            }
        }

        .rightInfoBox {
            width: 409px;
            // height: 601px;
            background: #FFFFFF;
            border-radius: 13px;
            padding-top: 42px;
            padding-bottom: 42px;
            box-shadow: 0 0 35px rgba(0, 0, 0, 0.05);

            .detailLine {
                width: 100%;
                box-sizing: border-box;
                padding-left: 42px;
                font-family: HYCuYuan, HYCuYuan;
                margin-bottom: 17px;


                .detailTag {
                    width: 100px;
                    font-size: 15px;
                    font-weight: 400;
                    color: #131C28;
                }

                .detailContent {
                    font-size: 15px;
                    font-weight: 400;
                    color: #131C28;
                }
            }
        }
    }


}